
<!DOCTYPE html>
<link rel="stylesheet" href="css/css_user_adm.css">
<html>
<head>

</head>
<body>

<div class="header" id="header">
<h1 class="title title-primary">FISEVRO</h1>
</div>

<div class="nav" id="nav">
<img class = imglogin src="img/LOGO.png" alt=""><br><br><br>
<p><a href=""><img class=icon src="img/perfil.png" >Usuários</a></p>
<br>
<p><a href=""><img class=icon src="img/upload.png" >Upload</a></p>
<br>
<p><a href=""><img class=icon src="img/info.png" >Informações</a></p>
<br>
<p><a href=""><img class=icon src="img/config.png" >Status Sistema</a></p>
<br><br><br><br><br>
<p><a href=""><img class=icon src="img/exit.png" >Sair</a></p>
</div>

<div class="section" id="section">
    
 
        
<h2><img class=icon src="img/upload.png">Disponibilizar filmes, séries e livros</h2>
<br>
<h3><img class=icon src="img/series.png" >Séries</h3>
<br>
<p>Imagens séries...</p>
<br><br><br>
<h3><img class=icon src="img/film.png" >Filmes</h3>
<br>
<p>Imagens filmes...</p>
<br><br><br>
<h3><img class=icon src="book.png" >Livros</h3>
<br>
<p>Imagens livros...</p>
<br>


</div>

<div class="footer" id="footer">
FISEVRO
</div>

</body>
</html>
