
<!DOCTYPE html>
<link rel="stylesheet" href="css/css_user_adm.css">
<html>
<head>

</head>
<body>

<div class="header" id="header">
<h1 class="title title-primary">FISEVRO</h1>
</div>

<div class="nav" id="nav">
<img class = imglogin src="img/LOGO.png" alt=""><br><br><br>
<p><a href="index_profile"><img class=icon src="img/perfil.png">Perfil</a></p>
<br>
<p><a href=""><img class=icon src="img/like.png">Avaliar</a></p>
<br>
<p><a href=""><img class=icon src="img/info.png">Informações</a></p>
<br>
<p><a href=""><img class=icon src="img/config.png">Configurações</a></p>
<br><br><br><br><br>
<p><a href="/"><img class=icon src="img/exit.png">Sair</a></p>
</div>

<div class="section" id="section">
    
    <div id='busca'>
        <form action="/search" class="search" method="get">
            <img class=icon src="img/lupa.png" ><input id="txtbusca" name="q" type="text" value="" placeholder="Digite o que você procura" />
            <input id="btnBusca" type="submit" value="Ok"/>
        </form>
        </div>
        
<h2>Principais séries, filmes e livros para você</h2>
<br>
<h3><img class=icon src="img/series.png" >Séries</h3>
<br>
<p>Imagens séries...</p>
<br><br><br>
<h3><img class=icon src="img/film.png" >Filmes</h3>
<br>
<p>Imagens filmes...</p>
<br><br><br>
<h3><img class=icon src="img/book.png" >Livros</h3>
<br>
<p>Imagens livros...</p>
<br>


</div>

<div class="footer" id="footer">
FISEVRO
</div>

</body>
</html>
