<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Biblioteca Fisevro</title>
    <!-- <script src="server.js"></script> -->
    <link href="forms.css" rel="stylesheet">

    <script src="http://www.google.com/recaptcha?api.js"></script>
</head>

<body>
    <img src="fundo.jpg" width="1350" height="400" />

    <div class="bemvindo">
        <h1>Seja Bem-vindo</h1>
    </div>
    <div class="container">
        <h1>Formulário</h1>
        <form id=bibliotecaFisevro>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="e-mail">E-mail</label>
                <input type="text" name="e-mail" id="e-mail" class="form-control">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="password">
                <input type="submit" value="Acessar">
                <input type="submit" value="Cadastrar">
            </div>
            </div>
            
            <div id="mensagem-password"></div>
            <re-captcha (resolved)="resolved($event)" siteKey="6LfVh6AaAAAAAD6FD0Tw2td6mnbL18y1xJVJBmNZ"></re-captcha>
            
</body>

</html>