    #header {
        font-family:helvetica;
        background-color:rgb(116, 74, 214);
        color:white;
        text-align:center;
        padding:5px;
    }
      
    
    #main {
        font-family:helvetica;
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        height: -webkit-fill-available;
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;
      }
    #nav {
        font-family:helvetica;
        text-align: center;
        line-height:30px;
        background-color:#eeeeee;
        height:1600px;
        width:200px;
        float:left;
        padding:5px;	      
    }
    #section {
        font-family:helvetica;
        float:left;
        padding:10px;	 	 
    }
    #footer {
        font-family:helvetica;
        background-color:rgb(116, 74, 214);
        color:white;
        clear:both;
        text-align:center;
       padding:5px;	 	 
    }





    .title-primary {
        font-family:helvetica;
        color: #fff;
        font-size: 48px;
        font-size: 28px;
        font-weight: bold;
        text-transform: capitalize;
    }


    .icon{
        width:30px;
        margin-right:5px;
        vertical-align: middle;
        }


#busca {
margin:0 auto;
padding:0;
}
#txtbusca {
border:0px solid #222;
background:#EEE;
width:260px;
height:23px;
margin:0 auto;
padding:5px 0 5px 5px;
float:left; // posição do campo
line-height:36px; // altura da linha
}
#btnBusca {
background:#00cccc;
position:relative;
border:0px solid #222;
color:#FFF; 
margin:0 auto;
padding:10px;
border:0 none;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
}
#btnBusca:hover {
background:#99cccc; 
}



*{
    margin: 0;
    padding: 0;
}

.card_img{
    width: 300px;
    height: 300px;

    margin: 25px;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modal_img{
    width: 65vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img{
    transform: scale(1);
}
.modal{

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close{
    color:#fff;
    background-color: #000;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border:solid 1px #fff;
    transition: all ease-out .4s;
    cursor: pointer;
}
#bt_close:hover{
    background-color: #f00;
}

.modal_active{
    visibility: visible;
    opacity: 1;

}


.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }